<%- include admin_header.ejs %>
<body>
    <div id="app_tabs">
        <ul>
            <li><a href="#tabs_edit">Edit</a></li>
            <li><a href="#tabs_manage">Manage</a></li>
            <li><a href="#tabs-test">Test</a></li>
            <li><a href="#tabs_file">Projects</a></li>
        </ul>
        <div class="page_tab" id="tabs_edit" style="position:relative; left:0px; right:auto;">
            <table>
                <tr>
                    <td>
                        <div id="tabs_edit_left" class="panel_frame">
                            <span id="edit_screen_list_buttons">
                                <button id="add_room">New room</button>
                                <button id="add_room_view">New view</button>
                            </span>
                            <div id="edit_screen_list_container" class="panel_frame">
                                <div id="edit_screen_list">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="tabs_edit_middle" style="display:inline-block">
                            <div id="main_pic_edit">
                                <canvas id="main_pic_edit_canvas" width="700" height="500">Your browser does not support HTML5 Canvas. Please upgrade your old, broken browser to something better. </canvas>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="edit_right_panel" class="panel_frame">
                            <div id="edit_tools">
                                <h3>Project Summary</h3>
                                <div>
                                    Name: <input id="project_name" class="project_summary" value="New Project"><br>
                                    Location: <input id="project_location" class="project_summary" value="778 W Lakeview Rd"><br>
                                </div>
                                <h3>View Summary</h3>
                                <div>
                                    Name: <input id="name" class="view_param" value="New View"><br>
                                    Description:<br/><textarea id="description" class="view_param">Description</textarea><br/>
                                    Links: <span id ="link_count">5</span><br/>
                                    Image: <br><span id="current_image" class="view_param"></span>    
                                </div>
                                <h3>Image</h3>
                                <div>

                                </div>
                                <h3>Link info</h3>
                                <div>
                                    <p>
                                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                                    </p>
                                    <ul>
                                        <li>List item one</li>
                                        <li>List item two</li>
                                        <li>List item three</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="toolbar" class="panel_frame">
                <span id="edit_mode">
                    <input type="radio" name="edit_mode" id="edit_draw" value="DRAWING" checked="checked"><label for="edit_draw">Draw</label>
                    <input type="radio" name="edit_mode" id="edit_erase" value="ERASING"><label for="edit_erase">Erase</label>
                    <input type="radio" name="edit_mode" id="edit_modify" value="MODIFYING"><label for="edit_modify">Modify</label>
                </span>
            </div>
        </div>
        <div class="page_tab" id="tabs_file">
        </div>
        <div class="page_tab" id="tabs_manage">
            <table style="width: 100%">
                <col style="width: 70%">
                <col style="width:30%">
                <tr>
                    <td colspan="2">
                        <div id="manage_buttons" class="panel_frame" style="min-height: 30px">
                            <input type="button" class="manage_button" id="manage_upload" value="Upload">
                            <input type="button" class="manage_button" id="manage_refresh" value="Refresh">
                            <label for="manage_filter">Filter:</label>
                            <select class="manage_menu ui-button ui-widget ui-corner-all ui-state-default" style="padding:4px" id="manage_filter">
                                <option value="ALL" selected>All</option>
                                <option value="NOT_USED">Not used</option>
                                <option value="USED">Used</option>
                                <option value="LINKED">Linked</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="thumbs_pane panel_frame">
                            <ul>
                            <li class="thumbs_img_container">
                                <div class="thumbs_controls">
                                    <span class="thumbs_title">
                                        Image name
                                    </span>
                                    <img class="thumbs_select">
                                    <img class="thumbs_delete">
                                </div>
                                <img class="thumbs_img">
                                <div class="thumbs_details">
                                    File name<br>
                                    Date uploaded<br>
                                </div>
                            </li>
                            <li class="thumbs_img_container">
                                <div class="thumbs_controls">
                                    <span class="thumbs_title">
                                        Image name
                                    </span>
                                    <img class="thumbs_select">
                                    <img class="thumbs_delete">
                                </div>
                                <img class="thumbs_img">
                                <div class="details">
                                    File name<br>
                                    Date uploaded<br>
                                </div>
                            </li>
                            <li class="thumbs_img_container">
                                <div class="thumbs_controls">
                                    <span class="thumbs_title">
                                        Image name
                                    </span>
                                    <img class="thumbs_select">
                                    <img class="thumbs_delete">
                                </div>
                                <img class="thumbs_img">
                                <div class="details">
                                    File name<br>
                                    Date uploaded<br>
                                </div>
                            </li>
                            <li class="thumbs_img_container">
                                <div class="thumbs_controls">
                                    <span class="thumbs_title">
                                        Image name
                                    </span>
                                    <img class="thumbs_select">
                                    <img class="thumbs_delete">
                                </div>
                                <img class="thumbs_img">
                                <div class="details">
                                    File name<br>
                                    Date uploaded<br>
                                </div>
                            </li>
                            <li class="thumbs_img_container">
                                <div class="thumbs_controls">
                                    <span class="thumbs_title">
                                        Image name
                                    </span>
                                    <img class="thumbs_select">
                                    <img class="thumbs_delete">
                                </div>
                                <img class="thumbs_img">
                                <div class="details">
                                    File name<br>
                                    Date uploaded<br>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div id="image_data_view" class="panel_frame" style="height: 500px">
                            <div id="image_name" class="panel_frame" style="width: 100%; height: 20px; margin-bottom: 4px"></div>
                            <div id="image_thumb_view" class="panel_frame" style="width: 100%; margin-bottom: 4px; height: 250px"></div>
                            <div id="image_data" class="panel_frame" style="width: 100%; height: ">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="page_tab" id="tabs-test">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec,
                feugiat nec, luctus a, lacus.</p>
            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac,
                tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        </div>
    </div>
</body>
</body>
