<%- include admin_header.ejs %>
<body>
    <div id="app_tabs">
        <ul>
            <li><a href="#tabs_edit">Edit</a></li>
            <li><a href="#tabs_manage">Manage</a></li>
            <li><a href="#tabs-test">Test</a></li>
            <li><a href="#tabs_file">Projects</a></li>
        </ul>
        <div class="page_tab" id="tabs_edit" style="position:relative; left:0px; right:auto;">
            <table>
                <tr>
                    <td>
                        <div id="tabs_edit_left" class="panel_frame">
                            <span id="edit_screen_list_buttons">
                                <button id="add_room">New room</button>
                                <button id="add_picture">New picture</button>
                            </span>
                            <div id="edit_screen_list_container" class="panel_frame">
                                <div id="edit_screen_list">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="tabs_edit_middle" style="display:inline-block">
                            <div id="main_pic_edit">
                                <canvas id="main_pic_edit_canvas" width="700" height="500">Your browser does not support HTML5 Canvas. Please upgrade your old, broken browser to something better. </canvas>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="edit_right_panel" class="panel_frame">
                            <div id="edit_tools">
                                <h3>Section 1</h3>
                                <div>
                                    <p>
                                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                                        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                                        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                                        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                                    </p>
                                </div>
                                <h3>Section 2</h3>
                                <div>
                                    <p>
                                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                                        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                                        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                                        suscipit faucibus urna.
                                    </p>
                                </div>
                                <h3>Section 3</h3>
                                <div>
                                    <p>
                                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                                    </p>
                                    <ul>
                                        <li>List item one</li>
                                        <li>List item two</li>
                                        <li>List item three</li>
                                    </ul>
                                </div>
                                <h3>Section 4</h3>
                                <div>
                                    <p>
                                        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                                        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                                        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                                        mauris vel est.
                                    </p>
                                    <p>
                                        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                                        inceptos himenaeos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="toolbar" class="panel_frame">
                <span id="edit_mode">
                    <input type="radio" name="edit_mode" id="edit_draw" value="DRAWING" checked="checked"><label for="edit_draw">Draw</label>
                    <input type="radio" name="edit_mode" id="edit_erase" value="ERASING"><label for="edit_erase">Erase</label>
                    <input type="radio" name="edit_mode" id="edit_modify" value="MODIFYING"><label for="edit_modify">Modify</label>
                </span>
            </div>
        </div>
        <div class="page_tab" id="tabs_file">
        </div>
        <div class="page_tab" id="tabs_manage">
            <div class=""></div>
        </div>
        <div class="page_tab" id="tabs-test">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec,
                feugiat nec, luctus a, lacus.</p>
            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac,
                tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        </div>
    </div>
</body>
</body>
