<head>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>Administration</title>
    <link rel="stylesheet" href="stylesheets/overcast/jquery-ui-1.10.3.custom.css" />
    <script src="javascripts/jquery/jquery-2.0.3.js"></script>
    <script src="javascripts/jquery-ui-1.10.3.custom/js/jquery-ui.custom.js"></script>
</head>
