@import main
body
    background #eeeeff
    padding 0px !important
    
#app_tabs {
    box-shadow: #000000 1px 1px 5px;
    margin: 5px;
}

.panel_frame {
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 5px;
}

#main_pic_edit 
    border: 1px solid #999999;
    border-radius: 5px;


#edit_right_panel, #tabs_edit_left 
    width: 250px; 
    right: 0; 
    height:502px;

#edit_screen_list_container {
    max-height: 452px;
    margin-top: 5px;
    overflow: auto;
}
#edit_tools {
    height:500px;
}

.page_tab 
    bottom 0px

img.screen_item_thumb {
    float:left;
    margin-right: 5px;
}

#toolbar {
    padding: 5px;
    margin-top: 5px;
}
