body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
body {
  background: #eef;
  padding: 0px !important;
}
#app_tabs {
  box-shadow: #000 1px 1px 5px;
  margin: 5px;
  min-height: 600px;
  min-width: 1230px;
}
.panel_frame {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
}
#main_pic_edit {
  border: 1px solid #999;
  border-radius: 5px;
}
#edit_right_panel,
#tabs_edit_left {
  width: 250px;
  right: 0;
  height: 502px;
}
#edit_screen_list_container {
  max-height: 452px;
  margin-top: 5px;
  overflow: auto;
}
#edit_tools {
  height: 500px;
}
.page_tab {
  bottom: 0px;
}
img.screen_item_thumb {
  float: left;
  margin-right: 5px;
}
.thumbs_pane {
  height: 500px;
  overflow-y: auto;
}
.thumbs_img_container {
  border: 1px solid #999;
  border-radius: 5px;
  margin: 10px 5px 0 5px;
  vertical-align: top;
  min-height: 155px;
  padding: 2px;
  width: 150px;
  font-size: 80%;
}
.thumbs_controls {
  border: 1px solid #999;
  border-radius: 5px;
  min-height: 10px;
  width: 144px;
  padding: 2px;
  margin-bottom: 2px;
}
.thumbs_img {
  border: 1px solid #999;
  border-radius: 5px;
  height: 100px;
  width: 144px;
}
#toolbar {
  padding: 5px;
  margin-top: 5px;
}
