body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
body {
  background-color: #202020;
  padding: 0px;
}
div {
  background: transparent;
}
#main_view {
  margin-left: auto;
  margin-right: auto;
}
img.mainimage {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
