<head>
    <script src="javascripts/jquery/jquery-2.0.3.js"></script>
    <link rel="stylesheet"  href="/stylesheets/viewer.css"></link>
    <title><%= title %></title>
</head>
<body>
    <div id="main_view"></div>
    <script src="js/main.js"></script>
    <script src="js/model.php"></script>
</body>
